{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!
{% endblock %}

{% block body %}
    {% include 'components/navigation/topNav.html.twig' %}

    <div class="space-y-6">
        <div class="flex justify-between">
            <!-- Contenu à ajouter entre les deux côtés si nécessaire -->
        </div>

        <div>
            {% include 'components/navigation/searchBar.html.twig' %}
            <div class="relative">
                <img src="images/bbc.png" class="relative  w-full h-full object-cover"/>

                <div class="absolute m-0 p-0 w-full bottom-0 text-white" style="text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);">
                    <div class=" p-6 bg-gradient-to-b from-transparent to-purple-500 mb-2 ml-1 mr-1">
                        <p class="text-xl font-semibold mb-0">
                            {{ event.name }}
                        </p>
                    </div>
                </div>
            </div>

            <div class=" top-0 flex space-x-2 p-6 ">
                <img src="images/logo.png" alt="" class="rounded-full w-7 h-7 object-cover border border-white m-0"/>

                <div class="text-xs h-full">
                    <p class="text-xs font-semibold"> {{ event.user.firstName }} {{ event.user.lastName}} </p>
                    <p class="text-2xs font-medium text-lavande-400"> 
                    {{ event.startDate|date('d/m/Y H:i') }} - {{ event.endDate|date('d/m/Y H:i') }}
                        ● {{ event.location }}
                    </p>
                </div>

            </div>
            <p class="ml-6 mr-6 text-2xs font-normal">{{ event.description }}</p>
        </div>
        <div class="space-y-4">


        </div>
    </div>
    {% include 'components/navigation/bottomNav.html.twig' %}
{% endblock %}
