{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<div class="px-10 space-y-8 h-screen flex flex-col justify-center">
		<div class="w-16">
			<img class="h-full" src="images/logo.png"/>
		</div>
		<div>
			<h2 class="text-3xl text-purple-300 mb-2 font-bold">Bienvenue !</h2>
			<h2 class="text-3xl font-bold">Créez votre compte</h2>
		</div>
		<div class="space-y-4">
			{{ form_errors(registrationForm) }}
			{{ form_start(registrationForm) }}

			{#
            <div>
				{{ form_label(registrationForm.username, 'Nom', {'label_attr': {'class': 'block text-gray-700 mb-2 text-xs font-medium'}}) }}
				{{ form_widget(registrationForm.username, {'attr': {'class': 'border-none rounded-full w-full p-3 text-sm text-purple-300 bg-purple-100 focus:outline-none focus:shadow-outline placeholder-purple-200'}}) }}
			</div>

			<div>
				{{ form_label(registrationForm.firstName, 'Prénom', {'label_attr': {'class': 'block text-gray-700 mb-2 text-xs font-medium'}}) }}
				{{ form_widget(registrationForm.firstName, {'attr': {'class': 'border-none rounded-full w-full p-3 text-sm text-purple-300 bg-purple-100 focus:outline-none focus:shadow-outline placeholder-purple-200'}}) }}
			</div>
            #}

			<div>
				{{ form_label(registrationForm.email, 'Email', {'label_attr': {'class': 'block text-gray-700 mb-2 text-xs font-medium'}}) }}
				{{ form_widget(registrationForm.email, {'attr': {'class': 'border-none rounded-full w-full p-3 text-sm text-purple-300 bg-purple-100 focus:outline-none focus:shadow-outline placeholder-purple-200'}}) }}
			</div>

			<div>
				{{ form_label(registrationForm.plainPassword, 'Mot de passe', {'label_attr': {'class': 'block text-gray-700 mb-2 text-xs font-medium'}}) }}
				{{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'border-none rounded-full w-full p-3 text-sm text-purple-300 bg-purple-100 focus:outline-none focus:shadow-outline placeholder-purple-200'}}) }}
			</div>

			{{ form_row(registrationForm.agreeTerms) }}

			<button type="submit" class="bg-purple-300 py-3 px-8 rounded-full text-base mb-4 w-full text-white">Se connecter</button>
			{{ form_end(registrationForm) }}

			<p class="text-xs">Vous avez déjà un compte ?
				<a class="text-purple-300">Connectez-vous</a>
			</p>
		</div>
	</div>
{% endblock %}
